/*Colores*/
/*Tipos de letra*/
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap");
body {
  background-color: #ef6213;
}
body header {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  margin-top: -15vh;
  padding: 1%;
  display: flex;
  position: fixed;
  transition: all 0.3s;
}
body header a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header a img {
  width: 3.5rem;
  justify-content: start;
}
body header ul {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
body header ul nav {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
body header ul nav li {
  display: flex;
  align-items: center;
  list-style: none;
}
body header ul nav li a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
body header ul nav li a span {
  margin: 0 10%;
}
body header ul nav li a .icon {
  display: flex;
  font-size: 150%;
}
body header ul nav li a .icon_text {
  display: flex;
  align-items: center;
}
body header.abajo {
  background-color: #ee6c16;
  border-bottom: 2px solid #ffffff;
  transition: all 0.3s;
}
body footer {
  text-align: center;
  margin: 5%;
}
body footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
body footer a .icon {
  font-size: 150%;
}

@media screen and (max-width: 500px) {
  body header a img {
    width: 3rem;
  }
  body header ul nav {
    width: 85%;
    justify-content: space-between;
  }
  body header ul nav li {
    width: 100%;
  }
  body header ul nav li a {
    color: #ffffff;
  }
  body header ul nav li a span {
    margin: 0 1%;
  }
  body header ul nav li a .icon {
    font-size: 130%;
  }
  body header ul nav li a .icon_text {
    font-size: 80%;
  }
}
/*Colores*/
/*Tipos de letra*/
html body {
  background-image: url("../img/icons/fondo-pizza.png");
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: 100%;
}
html body #gmail {
  position: fixed;
  margin: 5vh 93vw;
}
html body #gmail img {
  width: 4rem;
}
html body #cont {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
}
html body #cont .E1,
html body #cont .E2,
html body #cont .E3 {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  background-color: #ee6c16;
  flex-direction: column;
}
html body #cont .E1 img,
html body #cont .E2 img,
html body #cont .E3 img {
  width: 60%;
  margin: 5%;
}

@media screen and (max-width: 500px) {
  html body {
    background-position: 0% 50%;
    background-repeat: repeat;
    background-size: 100%;
  }
  html body #gmail {
    position: fixed;
    margin: -1vh 1vw;
  }
  html body #gmail img {
    width: 3rem;
  }
  html body #cont .E1,
html body #cont .E2,
html body #cont .E3 {
    width: 95vw;
  }
  html body #cont .E1 img,
html body #cont .E2 img,
html body #cont .E3 img {
    width: 65%;
  }
}/*# sourceMappingURL=S1.css.map */