@import "nav";
@import "variables";
html {
  body {
    background-image: url("../img/icons/fondo-pizza.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 50%;
    #gmail {
      position: fixed;
      margin: 5vh 93vw;
      img {
        width: 4rem;
      }
    }
    #int {
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15vh;
      color: $Blanco;
      text-align: center;
    }
    #cont {
      h2 {
        text-align: center;
        color: $Blanco;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        #pablo {
          background-image: url("../img/icons/num\ bri.png");
        }
        #brian {
          background-image: url("../img/icons/num\ pa.png");
        }
        ul {
          display: flex;
          overflow: hidden;
          width: 10%;
          height: 12rem;
          background-repeat: no-repeat;
          background-size: 100%;
          border: 2px solid $Blanco;
          transition: all 0.5s;
          padding: 2.5rem;
          margin: 2rem;
          border-radius: 1rem;
          .back {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            margin: -50% -50%;
            width: 200%;
            height: 170%;
            opacity: 0;
            background-color: $Negro;
            a {
              text-decoration: none;
              color: $Blanco;
            }
          }
        }
        ul:hover {
          .back {
            opacity: 90%;
          }
        }
      }
    }
    #guia {
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: $Blanco;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      video {
        width: 40%;
        margin: 1.5%;
      }
      div {
        width: 13rem;
        background-color: $Secundario;
        padding: 1%;
        border-radius: 5rem;
        a {
          text-decoration: none;
          color: $Blanco;
        }
      }
    }
    #form { 
      display: flex;
      justify-content: center;
      align-items: center;
      iframe {
        width: 25rem;
        height: 15rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
html {
  body {
    background-position: 0% 50%;
    background-repeat: repeat;
    background-size: 100%;
    #gmail {
      position: fixed;
      margin: -1vh 1vw;
      img {
        width: 3rem;
      }
    }
    #int {
      width: 90vw;
    }
    #cont {
      width: 100vw;
      div {
        ul {
          height: 4.3rem;
          border: 1px solid $Blanco;
          margin: 1rem;
          border-radius: 0.5rem;
          .back {
            margin: -100% -50%;
            width: 500%;
            height: 240%;
            opacity: 0;
            background-color: $Negro;
          }
        }
      }
    }
    #guia {
      width: 90vw;
      video {
        width: 100%;
        margin: 1.5%;
      }
    }
  }
}
}