:root {
  --completa: url(img/fondo\ mmm\ pizza\ completa.png);
  --laptop: url(img/fondo\ mmm\ pizza\ completa\ lap.png);
  --pcuadro: url(img/fondo\ mmm\ pizza\ completa\ 4\,3.png);
  --pcuadro2:url(img/fondo\ mmm\ pizza\ completa\ 4\,3\,2.png);
  --mobil: url(img/Fondo-movil.png);
  --rubik:'Rubik', sans-serif;
  --trasparente2: #ffffff22;
  --trasparente: #ffffff;
  --naranja: #ee6213;
  --azul: #0f4b91;
  --blanco: #ffffff;
}
* {
  font-family: var(--rubik);
}
  
body {
  background-image: var(--completa);
  background-repeat: no-repeat;
  background-attachment: fixed;
} 
nav ul a {
  font-size: 1.6vw;
  padding: 2.3%;
  color: var(--blanco);
  text-decoration: none;
  transition: all 0.5s;
}
nav a:hover {
  color: var(--azul);
}
nav {
  text-align: center;
  margin-right: 7vw;
  margin-top: -14vh;
}
header h2 {
  text-align: center;
  margin-left: 10vw;
  font-size: 2vw;
  margin-top: 3%;
  color: var(--blanco);  
}
p{
  text-align: center;
  color: var(--blanco);
  font-size: 1.3vw;
}
.gmail{
  float: right;
  margin-right: 8vw
}
.C .EQR {
  margin-top: -20vh;
  margin-bottom: 10vh;
  font-size: 1.8vw;
  margin-left: 30vw;
  text-align: center;
  color: var(--blanco);
}
.C {
  margin-top: 5vh;
}
.C h3{
  margin-left: 30vw;
  margin-top: -35vh;
  color: var(--blanco);
}
.C h3 img {
  margin-left: 6vw;
  width: 15vw;
}
.C img {
margin-top: -13vh;
}
.C h2 {
  margin-top: 0vh;
  margin-bottom: 20vh;
  text-align: center;
  margin-left: 30vw;
  font-size: 2.3vw;
  color: var(--blanco);
}
.G {
  margin-bottom: 10vh;
}
.G h2{
  margin-top: 15vh;
  text-align: center;
  font-size: 2.3vw;
  color: var(--blanco);
}
.vid {
  width: 70vw;
  height: 80vh;
  display: block;
  margin: auto;
}
.pdf {
  margin-left: 40vw;
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.5vw;
  transition: 0.5s all;
}
.pdf:hover{
  color: var(--azul);
}
iframe{
  width: 98vw;
  display: block;
  margin: auto;
  margin-bottom: 5vh;
  margin-top: -5vh;
}
footer {
  margin-top: 93vh;
  margin-left: 33vw;
  position: fixed;
  font-size: 1.1vw;
  color: var(--trasparente);
}
@media screen and (min-width: 1366px){
  body {
    background-color: var(--naranja);
    background-image: var(--laptop);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .QRWEB{
    text-align: center;
    margin-top: 15vh;
    margin-left: 11.5vw;
    position: fixed;
  }
  .QRWEB img {
    margin-top: 5vh;
    width: 30vw;
  }
  .QRWEB b {
    color: var(--blanco);
    font-family: var(--rubik);
    font-size: 2vw;
  }
  nav {
    margin-left: 7%;
    margin-top: -100000vh;
  }
}
@media screen and (max-width: 1280px){
  body {
    background-color: var(--naranja);
    background-image: var(--pcuadro2);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .QRWEB{
    text-align: center;
    margin-top: 20vh;
    margin-left: 11.5vw;
    position: fixed;
  }
  .QRWEB img {
    margin-top: 5vh;
    width: 30vw;
  }
  .QRWEB b {
    color: var(--blanco);
    font-family: var(--rubik);
    font-size: 2vw;
  }
  nav {
    margin-left: 7%;
    margin-top: -100000vh;
  }
}
  @media screen and (max-width: 1024px) {
    body {
      background-color: var(--naranja);
      background-image: var(--pcuadro);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .QRWEB{
      text-align: center;
      margin-top: 23vh;
      margin-left: 8vw;
      position: fixed;
    }
    .QRWEB img {
      margin-top: 5vh;
      width: 35vw;
    }
    .QRWEB b {
      color: var(--blanco);
      font-family: var(--rubik);
      font-size: 2.2vw;
    }
    nav {
      margin-left: 7%;
      margin-top: -100000vh;
    }
  }
@media screen and (max-width: 500px) {
  body {
    background-color: var(--naranja);
    background-image: var(--mobil);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  * {
    font-family: var(--rubik);
    }
    body {
      font-size: 10%;
    }
  .blue {
    width: 6vw;
  }
  .QRWEB {
    margin-left: 500vw;    
  }
    h1 img{
      width: 25vw;
      display:block;
      margin:auto;
    }
    nav ul a {
    margin-left: -4vw;
    font-size: 6vw;
    padding: 2%;
    color: var(--blanco);
    text-decoration: none;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    nav a:hover {
    color: var(--azul);
    }
    nav img{
      width: 6vw;
    }
    nav {
    margin-left: -5vw;
    margin-right: 0.5vw;
    margin-top: 3vh;
    margin-bottom: -2vh;
    }
    header h2 {
    margin-left: 0vw;
    text-align: center;
    font-size: 4.5vw;
    margin-top: 5vh;
    color: var(--blanco);  
    }
  p {
    font-size: 4vw;
    text-align: center;
    color: var(--blanco);
  }
  .gmail{
    margin-top: -20vh;
    margin-right: 3vw;
    position: fixed;
  }
  .gmail a img {
    width: 17vw;
  }
  .imp img {
    position: fixed;
    width: 0vw;
    margin-left: -15vw;
  }
  .C {
    text-align: center;
      margin-top: 5vh;
    }
    .C .EQR {
      margin-top: -4vh;
      margin-bottom: -6vh;
      margin-left: 3vw;
      font-size: 4vw;
      color: var(--blanco);
    }
  .C h3{
      margin-left: 30vw;
      margin-top: -15vh;
    }
    .C h3 a img {
      margin-top: -15vh;
      margin-left: -10vw;
      width: 60vw;
    }
  .C img {
    display:block;
    margin:auto;
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 55vw;
  }
  .C h2 {
    margin-top: -2vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-size: 5vw;
    color: var(--blanco);
  }
  .G {
    margin-top: -13vh;
    margin-bottom: 5vh;
  }
  .G h2{
    text-align: center;
    font-size: 5.5vw;
    color: var(--blanco);
  }
  .G {
    margin-top: -10vh;
  }
  .vid {
    width: 95vw;
    height: 30vh;
    display: block;
    margin: auto;
  }
  .pdf {
    margin-top: -20vh;
    margin-left: 25vw;
    text-decoration: none;
    color: var(--blanco);
    font-size: 4.5vw;
    transition: 0.5s all;
  }
  .pdf:hover{
    color: var(--azul);
  }
  iframe{
    width: 95vw;
    height: 25vh;
    display: block;
    margin: auto;
    margin-bottom: 8vh;
    margin-top: -5vh;
  }
  footer {
    margin-top: 94vh;
    margin-left: 3vw;
    margin-right: 0vw;
    text-align: center;
    position: fixed;
    font-size: 3.3vw;
    color: var(--trasparente);
  }
}
