:root {
  --completa: url(img/fondo\ mmm\ pizza\ completa.png);
  --laptop: url(img/fondo\ mmm\ pizza\ completa\ lap.png);
  --pcuadro: url(img/fondo\ mmm\ pizza\ completa\ 4\,3.png);
  --pcuadro2:url(img/fondo\ mmm\ pizza\ completa\ 4\,3\,2.png);
  --mobil: url(img/Fondo-movil.png);
  --rubik:'Rubik', sans-serif;
  --trasparente2: #ffffff22;
  --trasparente: #ffffff;
  --naranja: #ee6213;
  --azul: #0f4b91;
  --blanco: #ffffff;
}
* {
  font-family: var(--rubik);
}
  
body {
  background-image: var(--completa);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 img {
  width: 5vw;
  padding: 2vw;
}
nav a {
  font-size: 1.6vw;
  padding: 2.3%;
  color: var(--blanco);
  text-decoration: none;
  transition: all 0.5s;
}
nav a:hover {
  color: var(--azul);
}
nav {
  margin-left: 7%;
  margin-top: -14vh;
}
header h2 {
  text-align: center;
  margin-left: 10vw;
  font-size: 2vw;
  margin-top: 3%;
  color: var(--blanco);  
}
  .NO {
    margin-top: 3vh;
  }
  iframe{
    width: 98vw;
    display: block;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: -5vh;
  }
  footer {
    margin-top: 93vh;
    margin-left: 33vw;
    position: fixed;
    font-size: 1.1vw;
    color: var(--trasparente);
  }
  @media screen and (min-width: 1366px){
    body {
      background-color: var(--naranja);
      background-image: var(--laptop);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .QRWEB{
      text-align: center;
      margin-top: 15vh;
      margin-left: 11.5vw;
      position: fixed;
    }
    .QRWEB img {
      margin-top: 5vh;
      width: 30vw;
    }
    .QRWEB b {
      color: var(--blanco);
      font-family: var(--rubik);
      font-size: 2vw;
    }
    nav {
      margin-left: 7%;
      margin-top: -100000vh;
    }
  }
  @media screen and (max-width: 1280px){
    body {
      background-color: var(--naranja);
      background-image: var(--pcuadro2);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .QRWEB{
      text-align: center;
      margin-top: 20vh;
      margin-left: 11.5vw;
      position: fixed;
    }
    .QRWEB img {
      margin-top: 5vh;
      width: 30vw;
    }
    .QRWEB b {
      color: var(--blanco);
      font-family: var(--rubik);
      font-size: 2vw;
    }
    nav {
      margin-left: 7%;
      margin-top: -100000vh;
    }
  }
    @media screen and (max-width: 1024px) {
      body {
        background-color: var(--naranja);
        background-image: var(--pcuadro);
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .QRWEB{
        text-align: center;
        margin-top: 23vh;
        margin-left: 8vw;
        position: fixed;
      }
      .QRWEB img {
        margin-top: 5vh;
        width: 35vw;
      }
      .QRWEB b {
        color: var(--blanco);
        font-family: var(--rubik);
        font-size: 2.2vw;
      }
      nav {
        margin-left: 7%;
        margin-top: -100000vh;
      }
    }
  @media screen and (max-width: 500px) {
    body {
      background-image: var(--mobil);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    * {
      font-family: var(--rubik);
      }
      body {
        font-size: 10%;
      }
    .blue {
      width: 6vw;
    }
      .QRWEB {
      margin-left: 500vw;    
    }
    h1 img{
      width: 25vw;
      display:block;
      margin:auto;
    }
      nav a {
      margin-left: 4vw;
      font-size: 5vw;
      padding: 3%;
      color: var(--blanco);
      text-decoration: none;
      transition: all 0.5s;
      }
      nav a:hover {
      color: var(--azul);
      }
      nav img{
        width: 6vw;
      }
      nav {
      margin-left: -5vw;
      margin-right: 0.5vw;
      margin-top: 0vh;
      text-align: center;
      }
      header h2 {
      margin-left: 0vw;
      text-align: center;
      font-size: 4.5vw;
      margin-top: 5vh;
      color: var(--blanco);  
      }
        .NO {
          margin-top: 5vh;
        }
        .NO img {
          width: 80%;
        }
        iframe{
          width: 95vw;
          height: 25vh;
          display: block;
          margin: auto;
          margin-bottom: 5vh;
          margin-top: -5vh;
        }
        footer {
          margin-top: 93vh;
          margin-right: 20vw;
          text-align: center;
          position: fixed;
          font-size: 3.5vw;
          color: var(--trasparente);
        }
    }
